<h4>Afegir/Modificar element</h4>
<table class="table">
  <tr>
    <td>
		Concepte
	</td>
	<td>
		Preu
	</td>
    <td>
		Quantitat
	</td>
	<td>
		Descompte
	</td>
	<td>
	</td>
  </tr>
  <tr>
    <td>
		<input class="form-control" type="text" [(ngModel)]="elementFormulari.concepte">
	</td>
    <td>
		<input class="form-control" type="text" [(ngModel)]="elementFormulari.preu">
	</td>
    <td>
		<input class="form-control" type="text" [(ngModel)]="elementFormulari.quantitat">
	</td>
    <td>
		<input class="form-control" type="text" [(ngModel)]="elementFormulari.descompte">
	</td>
    <td>
		<button class="btn btn-primary" type="button" (click)="afegir()"><i class="icon ion-md-add"></i> Afegir</button>
	</td>
  </tr>
</table>