<h2>Element</h2>
<table>
  <tr>
    <td>concepte:</td>
    <td><input type="text" [(ngModel)]="elementFormulari.concepte"></td>
  </tr>
  <tr>
    <td>preu:</td>
    <td><input type="text" [(ngModel)]="elementFormulari.preu"></td>
  </tr>
  <tr>
    <td>quantitat:</td>
    <td><input type="text" [(ngModel)]="elementFormulari.quantitat"></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="btn btn-primary" type="button" (click)="afegir()"><i class="ionicons ion-plus-round"> Afegir</i></button></td>
  </tr>
</table>