<table class="table table-striped table-hover">
  <thead>
	<tr>
		<th>Concepte</th>
		<th>Quantitat</th>
		<th>Preu</th>
		<th>Descompte</th>
		<th>Import</th>
		<th>Accions</th>
	</tr>
  </thead>
  <tbody>
	  <tr *ngFor="let element of elementsInput; let i = index">
		  <td>{{element.concepte}}</td>
		  <td>{{element.quantitat}}</td>
		  <td>{{element.preu}}</td>
		  <td>{{element.descompte}}</td>
		  <td>{{element.preu * element.quantitat * (100 - (element.descompte || 0)) / 100}}</td>
		  <td><button class="btn btn-outline-danger" (click)="esborrarElement(i)"><i class="ionicons ion-close"></i> Eliminar</button></td>
	  </tr>
  </tbody>
  <tfoot>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td><b>Total</b></td>
		<td><b>{{getTotal()}}</b></td>
	</tr>
  </tfoot>
</table>
