<h4>Dades de l'emissor</h4>
<table class="table">
  <tr>
	<td>
		Nom
	</td>
	<td>
		NIF
	<td>
		Adreça
	</td>
	<td>
		Codi postal
	</td>
	<td>
		Telèfon
	</td>
	<td>
	</td>
  </tr>
  <tr>
    <td>
		<input type="text" [(ngModel)]="nom">
	</td>
    <td>
		<input type="text" [(ngModel)]="nif">
	</td>
    <td>
		<input type="text" [(ngModel)]="adreca">
	</td>
    <td>
		<input type="text" [(ngModel)]="cp">
	</td>
    <td>
		<input type="text" [(ngModel)]="telefon">
	</td>
    <td>
		<button class="btn btn-primary" (click)="open(content)"><i class="ion ion-archive"></i> Guardar</button>
	</td>
  </tr>
</table>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Acció de guardat</h4>
    <button type="button" class="btn btn-outline-danger" aria-label="Tancar" (click)="d('Cross click')">
      <i class="ion ion-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <p>Implementació del guardat de l'emissor</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')"><i class="ion ion-close"></i> Tancar</button>
  </div>
</ng-template>


